<form action="/quiz?_method=PUT" method="POST">
    <h4>A or B:</h4>
    <input type="radio" name="userans" value="A" id="A">
    <label for="A">A</label>
    <input type="radio" name="userans" value="B" placeholder="B">
    <label for="B">B</label>
    <button>Submit</button>
    
    
    
</form>