.mcqs-container{
    margin: 0 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    border: 2px solid #1c1f24;
    background: #282c34;
}

.mcq-questions{
    margin-bottom: 50px ;
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 40px 40px;
    grid-template-rows: auto;
}

.mcq-questions::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
     
.mcq-questions::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}

.mcq-questions .mcq-container{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282c34;
    border: 1px solid #242830;
}

.mcq-questions .mcq-container:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(180deg, #2ba15f,#f8d229);
    z-index: -1;
    transition: 0.5s;
    transform: skew(2deg, 2deg);
}

.mcq-container:hover::before{
    transform: skew(0,0);
}

.mcq-container:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.mcq-questions .mcq-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #1c1f24;
    pointer-events: none;
}

.mcqs-container button{
    margin: 0 40%;
    width: 10%;
    background: #282c34;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    border: none;
    outline: none;
    border-radius: 40px;
    color: #2ba15f;
    font-size: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
}